@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Health</h1>
    <p class="lead">Health is an application created to manage the control, registration and search of medicines. It works by implementing search algorithms based on non-linear data structures.</p>
    <br />
    @using (Html.BeginForm("LoadDocument", "Order", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <h4 class="text-info">Load records from file</h4>
        <div class="agroup-class">
            <input type="file" name="file" accept=".csv"/>
        </div>
        <br/>
        <div class="agroup-class">
            <input type="submit" value="Load file  &raquo;" class="btn btn-primary btn-lg" />
        </div>
    }

</div>
