@model IEnumerable<HealthMedicine.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<br>
<h1 class="uk-heading-line uk-text-center">Upload document</h1>
<br>
<br>  
@using (Html.BeginForm("LoadDocument", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="agroup-class">
        <input type="file" class="uk-align-center" name="file" accept=".csv" />
    </div>
    <button class="uk-button uk-button-default uk-align-center">Start</button>
}

