@model IEnumerable<HealthMedicine.Models.Order>

@{
    ViewBag.Title = "Orders";
}

    <h1 class="text-center">Load records from file</h1>

@using (Html.BeginForm("LoadDocument", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <hr />
    <div class="agroup-class text-center">
        <input class="text-center" type="file" name="file" accept=".csv" />
    </div>
    <div class="agroup-class text-center">
        <input type="submit" value="Load file" class="btn-default" />
    </div>
}