@model IEnumerable<HealthMedicine.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h1 class="uk-heading-line uk-text-center"><span>Load your document</span></h1>

@using (Html.BeginForm("LoadDocument", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <hr />
    <div class="agroup-class">
        <input type="file" class="uk-align-center" name="file" accept=".csv" />
    </div>
    <button class="uk-button uk-button-default uk-align-center">Submit</button>
}

@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button class="uk-button uk-button-default uk-align-center">Start</button>
}
