
@{
    ViewBag.Title = "InitialPage";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div class="container">
        <img src="~/Content/Images/kendal-L4iKccAChOc-unsplash.jpg" alt="Snow">
        <button class="btn">Add Order</button>
    </div>
}
